.gsd-keyboard.settings-ported
GNOME-xdg-terminals.list
QtProject.conf
alacritty/
autostart/
btop/
composer/
dconf/
evolution/
fish/
flameshot/
gnome-boxes/
gnome-initial-setup-done
goa-1.0/
google-chrome/
gtk-3.0/
htop/
ibus/
libreoffice/
libvirt/
nautilus/
nvim-old/
picom/
polybar.old/
polybar/
pulse/
qvim/
sealert.conf
thefuck/
tmux/plugins/vim-tmux-navigator/
user-dirs.dirs
user-dirs.locale
virt-viewer/
warp-terminal/
xdg-terminals.list
nvim/lazy-lock.json
nvim/snippets/php.json
nvim/snippets/php.snippets
github-copilot/
